.sidebar{
    flex:0.35;
    background-color: #fff;
}
.sidebar_header{
    display: flex;
    justify-content: center;
    border-right: 1px solid lightgray;
    padding: 10px;
    background-color: #ededed;
}
.sidebar_headerRight{
    display: flex;
    align-items:center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_headerRight svg{
    font-size: 18px;
}
.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 40px;
    padding: 10px;
}
.sidebar_searchccontainer{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 35px;
    border-radius: 20px;
}
.sidebar__searchContainer input {
    border:0;
    margin-left: 10px;
    outline: 0;
    width: 90%;
}


.sidebar__Chats{
    display: flex;
    background-color: #fff;
    flex-direction: column;
}
.sidebar__Chat{

    display: flex;
    align-items:center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
}

.sidebar__Chat:hover {
    cursor: pointer;
    background-color: #ebebeb;
}
.sidebar__chatInfo{
    margin-left: 15px;
}
.sidebar__chatInfo h2 {
    font-size: 16px;
    
}
.sidebar__chatInfo p {
    font-size: 12px;
    
}
.sidebar__chat>h2  {
    font-size: 25px;
    margin-left: 10px;
}
.sidebar__chat .MuiAvatar-circular  {

   width: 30px;
   height: 30px; 
}













/* .sidebar_header > .MuiAvatar-circular {
    width: 40px; 
    height: 40px;
} */